name: Deploy `word` to GitHub Pages

on:
  workflow_call:
    inputs:
      version:
        description: "Version string to inject into the build"
        required: false
        type: string

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: inject version into HTML
        run: |
          sed -i 's/__VERSION__/${{ inputs.version }}/g' ./apps/word/index.html

      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'npm'

      - run: npm ci

      - run: npm run build
        working-directory: ./apps/word

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v3
        with:
          path: './apps/word/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4